fastapi
uvicorn
jinja2
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-groq 

numpy<2

pypdf
pymupdf

faiss-cpu
chromadb

sentence-transformers==2.6.1


torch==2.2.2
