fastapi==0.110.0
uvicorn==0.29.0
jinja2
starlette
python-dotenv
python-multipart
itsdangerous

pandas==1.5.3
numpy<2

langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain_groq
pydantic==2.6.4

faiss-cpu
sentence-transformers==2.7.0
transformers==4.41.2

torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

pypdf
pymupdf
openpyxl
unstructured