<!DOCTYPE html>
<html>
<head>
    <title>RAG Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>🤖 RAG Document Assistant</h2>

<<div class="chat-box" id="chat-box">

{% if chat %}
    {% for msg in chat %}

        <div class="user-msg">
            {{ msg.user }}
        </div>

        <div class="bot-msg">
            {{ msg.bot }}
        </div>

    {% endfor %}
{% endif %}

</div>



<form action="/search" method="post" class="chat-form">

    <input
        type="text"
        name="query"
        placeholder="Type your message..."
        required
    >

    <button type="submit">Send</button>

</form>

</div>

</body>
</html>
